# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Database
*.db

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (uncomment if you don't want to track the CSV)
# data/raw/*.csv
